**/.ipynb_checkpoints/
.venv/
.vscode/
reports/figures/*
notebooks/tables.html
**/__pycache__
*.yml
*.log
*.pcap
traceroute_data
run.elf
.vscode/launch.json
backup/
*.prof
*.tar.gz
*.txt.gz
*.pcapng
dns_tools
output_selenium/
*.json
keys.py